
<div class="container" style="position: fixed;bottom: 5%;left: 80%; display: block;margin: auto;color:aliceblue;">
    <a href="/content/communitys/creategamepost" class="btn btn-danger">create game post</a>
</div> 